<%- include('includes/header') %>

<div class="container py-md-5">
  <%- include('includes/flash') %>

  <div class="row align-items-center">
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <h1>Get your pin</h1>

      <form action="/passwordReset" method="POST" id="password-reset-form">
        <div class="form-group">
          <label for="email" class="text-muted mb-1"><small>Email</small></label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Get Your Pin Emailed</button>
      </form>
    </div>
  </div>
</div>

<%- include('includes/footer') %>
