{% extends "base.html" %}

{% block content %}




    <div class ="container-fluid" style="height:150px; ">
        <a class="navbar-brand" href="#">
            <div class="container-fluid">
      <img src="{{ url_for('static', filename='img/WriterLogo.png') }}" alt="Logo" height="150">
            </div>
    </a>
        <div class="container" style="float: right;">
                   <h1>Welcome to the King County Writer,  {{ current_user.username }}.</h1>
    <h2>Share a story about your experiences here in the PNW</h2>
    </div>


    </div>

    <div class="container-fluid">
 {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    </div>

<div class="jumbotron" style=" background-color: #1f2226;padding: 10px;" >
  <img src="{{ url_for('static', filename='img/river_2023_2.jpg') }}" style="height: 20vh; width: 100%; padding: 10px; " class="img-fluid" alt="Responsive Hero Image">
</div>
{% endblock %}
