{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

<div style="display: flex;">
    <div style="  width: 25%; text-align:right; ">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/WriterLogo.png') }}" alt="Logo" height="150">
        </a>
    </div>

    <div style="  width: 75%; text-align:center; ">
        <h1>King County Writer, Your source for local art and activism</h1>
        <h2>Share a story about your experiences here in the PNW</h2>
    </div>
</div>

    {% if form %}
        <div style ="width:100%;padding-top:40px; padding-left:40px;">
            {{ wtf.quick_form(form) }}
        </div>
    {% endif %}



    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>



<div class="jumbotron" style=" background-color: #1f2226;padding: 10px;" >
  <img src="{{ url_for('static', filename='img/river_2023_2.jpg') }}" style="height: 20vh; width: 100%; padding: 10px; " class="img-fluid" alt="Responsive Hero Image">
</div>
{% endblock %}
